<div class="user-order-details">

  <div class="sectionOne" fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="100%">
      <div fxLayout.xs="column" fxLayoutAlign="space-between center">
        <h1 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon>shopping_cart</mat-icon>
          <span>Order Details</span>
        </h1>
        <h1 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span>Date Placed:</span>
          <small>29 Aug 2018</small>
        </h1>
      </div>
      <mat-card fxFlex="100%">
        <div class="orders-data">
          <table>
            <thead>
              <th>No.</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Total Price</th>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>
                New Swat Black
              </td>
              <td>
                2
              </td>
              <td>
                Rs. 102,399
              </td>
              <td>
                Rs. 102,399
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                New Swat Brown
              </td>
              <td>
                2
              </td>
              <td>
                Rs. 102,399
              </td>
              <td>
                Rs. 102,399
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                New Swat Brown
              </td>
              <td>
                2
              </td>
              <td>
                Rs. 102,399
              </td>
              <td>
                Rs. 102,399
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex="50%" fxFlex.xs="100%">
      <h1 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon>local_shipping</mat-icon>
        <span>Shipment Details</span>
      </h1>
      <mat-card>
        <div class="shipping-details">
          <strong>Address:</strong> Street No.1, pir Humayun Colony, Ghosia Chowk, Shamsabad, Rawalpindi.
        </div>
        <div class="shipping-details">
          <strong>Order Status:</strong> Shipped.
        </div>
        <div class="shipping-details">
          <strong>Estimated Delivery/Delivered on:</strong> 3-5 Business Days from the order placed.
        </div>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <h1 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon>payment</mat-icon>
        <span>Payment Details</span>
      </h1>
      <mat-card>
        <div class="shipping-details">
          <strong>payment Method:</strong> Cash On Delivery (COD).
        </div>
        <div class="shipping-details">
          <strong>Total Amount Paid:</strong> Rs. 102,399/-
        </div>
        <div class="shipping-details">
          <strong>Delivery Charges:</strong> NA
        </div>
      </mat-card>
    </div>
  </div>


</div>
