.login-container {
	margin-top: 4%;
}

.login-container mat-form-field {
	margin-bottom: 40px;
}

.btn-login {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.fb-login {
	background: #1565c0;
	color: #fff;
}

.google-login {
	background: #d84315;
}

.twitter-login {
	background: #2996f3;
}

h4 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.social-login {
	margin-top: 10px;
  margin-bottom: 30px;
}
