<nav fxHide.lt-lg="true">
  <mat-toolbar>
    <div class="nav-item">
      <button mat-button>
        test
      </button>
      <div class="sub-nav">
        <div class="button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button>Basic</button>
          <button mat-raised-button>Basic</button>
          <button mat-raised-button>Basic</button>
          <button mat-raised-button>Basic</button>
        </div>
      </div>
    </div>
    <div class="nav-item">
      <button mat-button>
        test
      </button>
      <div class="sub-nav">
        <div class="button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button>Basic</button>
          <button mat-raised-button>Basic</button>
          <button mat-raised-button>Basic</button>
          <button mat-raised-button>Basic</button>
          <button mat-raised-button>Basic</button>
          <button mat-raised-button>Basic</button>
        </div>
      </div>
    </div>
    <div class="nav-item">
      <button mat-button color="warn">
        Deals
      </button>
    </div>
  </mat-toolbar>
</nav>
