<footer>
	<mat-toolbar fxLayout="row" fxFill fxLayoutAlign="space-around center" class="footer-links">
    <div fxFlex='0 1 calc(25% - 20px)' >
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
    <div fxFlex='0 1 calc(25% - 20px)'>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
    <div fxFlex='0 1 calc(25% - 20px)'>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
    <div fxFlex='0 1 calc(25% - 20px)'>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-toolbar>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center" class="copy-rights">©2018 All rights reserved by BestInPk</div>
  </mat-toolbar>
</footer>
