
<div class="forgot-container" fxLayout="column" fxFlex="90" fxFlexOffset="5" fxFlex.gt-md="40" fxFlexOffset.gt-md="25">
  <h1>Forgot Password</h1>
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <button mat-raised-button class="btn-login" color="primary">Sign In</button>

  <div class="links-to" fxLayout="row" fxLayout.lt-md="column" fxFlexAlign="center center">
    <div class="register-link" fxFlex="50" fxFlex.lt-md="100" fxLayout="row" fxFlexAlign="center center">
      <span fxFlexAlign="center">Back to Login?</span>
      <span>
        <button mat-button color="primary" routerLink="/login">Login <i class="material-icons">arrow_forward</i></button>
      </span>
    </div>
  </div>  
</div>