.search-box {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.search-box input {
	width: 100%;
    border-radius: 3px;
    padding: 10px 10px;
    border: none;
    font-size: 0.85rem;
    color: #323232;
    outline: none;
}

.search-container {
	position: relative;
	width: 60%;
	margin: 0 auto;
}

.search-container i {
    position: absolute;
    right: -14px;
    color: #323232;
    top: 6px;
}

.sub-nav {
  width: auto;
  height: 0;
  background: #323232;
  position: absolute;
  overflow: hidden;
  transition: all 0.2s;
}

.nav-item:hover .sub-nav {
  height: auto;
  padding: 25px;
  z-index: 1;
}

.products-listing {
  padding-left: 20px;
}

.product-each {
  margin-bottom: 20px;
}


@media screen and (max-width: 900px) and (min-width: 599px) {
	.search-container {
		width: 96%;
	}
}
