<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>BestInPk</span>

  <!-- This fills the remaining space of the current row -->
  <span class="search-box">
      <div class="search-container" fxShow.xs="false">
        <input placeholder="Search, discover, explore...">
        <i class="material-icons">search</i>
      </div>
  </span>

  <span >
    <div class="button-row">
      <button mat-raised-button color="warn">
        <mat-icon class="material-icons">shopping_cart</mat-icon>
        <span fxShow.xs="false">Cart (3) - ₹16,640.00</span>
        <span fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false">(3)</span>
      </button>
      <button mat-raised-button color="accent">
        <mat-icon class="material-icons">fingerprint</mat-icon>
        <span fxShow.xs="false">Login / Signup</span>
      </button>
    </div>

  </span>
</mat-toolbar>
<mat-toolbar>

    <button mat-button
        [matMenuTriggerFor]="menu"
        #menuTrigger="matMenuTrigger"

    >
      Menu <i class="material-icons">keyboard_arrow_down</i>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <div >
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </div>
    </mat-menu>

    <button mat-button
        [matMenuTriggerFor]="menuTwo"
        #menuTwoTrigger="matMenuTrigger"
        (mouseenter)="menuTwoTrigger.openMenu()">
      Menu Two
    </button>

    <mat-menu #menuTwo="matMenu" [overlapTrigger]="false">
      <div (mouseleave)="menuTwoTrigger.closeMenu()">
        <button mat-menu-item>Item 3</button>
        <button mat-menu-item>Item 4</button>
      </div>
    </mat-menu>

</mat-toolbar>
<mat-toolbar>

  <div class="test">
    <button mat-button>
      test
    </button>
    <div class="show-this">
asssdasdddddddddddddddddddddddd ddddddddddddddddddddddddddddddddddddddddddddddddd
    </div>
  </div>

  <div class="test">
    <button mat-button>
      test
    </button>
    <div class="show-this">
      <div class="button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button routerLink=".">Link</a>
      </div>
    </div>
  </div>







</mat-toolbar>


