<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100%">
  <span class="logo" routerLink="/home">BestInPk</span>
  <div class="header-social">
  	<ul>
		<li class="social-links no-margin">
		  <a href="" target="new"><i class="fa fa-facebook-square"></i></a>
		</li>
		<li class="social-links">
		  <a href="" target="new"><i class="fa fa-google-plus-square"></i></a>
		</li>
		<li class="social-links">
		  <a href="" target="new"><i class="fa fa-twitter-square"></i></a>
		</li>
		<li class="social-links">
		  <a href="" target="new"><i class="fa fa-instagram"></i></a>
		</li>
	</ul>
  </div>
</mat-toolbar>
