<div class="user-shipping-container" fxLayout="column" fxFlex="90" fxFlexOffset="5" fxFlex.gt-md="40" fxFlexOffset.gt-md="25">
  <h1>Shipping address</h1>
  <mat-form-field>
    <input matInput placeholder="City">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="State">
  </mat-form-field>


  <mat-form-field>
    <textarea matTextareaAutosize matAutosizeMinRows="2" matInput placeholder="Complete street address" required></textarea>
  </mat-form-field>

  <button mat-raised-button class="btn-login" color="primary">Update</button>

</div>
